In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("local[*]").appName('test').getOrCreate()

23/10/05 14:54:12 WARN Utils: Your hostname, Gagans-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.108.85.16 instead (on interface en0)
23/10/05 14:54:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/05 14:54:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/05 14:54:13 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/10/05 14:54:24 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [5]:
df_yellow = spark.read.parquet("../data/pq/yellow/*/*")

In [12]:
df_yellow.show(3)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2020-01-15 07:59:48|  2020-01-15 08:16:04|              2|         6.87|         1|                 N|         262|          88|           1|       22.0|  0.0|    0.5|      5.06|         0.0|                  0.3|       30.36|                 2.5|
|       2| 2020-01-11 22:13:14|  2020-01-11 22:22:40|              1|         1.64|         1|                 N|         125|          13|           1|        8.5|  0.5|    0.5|      2.46|         0.0|                  0.3|       14.76|                 2.5|
|       2| 2020-01-10 19:23:38|  2020-01-10 19:29:37|              1|         0.48|         1|                 N|         162|         170|           1|        5.5|  1.0|    0.5|      0.98|         0.0|                  0.3|       10.78|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 3 rows

In [9]:
df_green = spark.read.parquet("../data/pq/green/*/*")

In [13]:
df_green.show(3)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-10 17:17:10|  2020-01-10 17:25:00|                 N|         1|          41|          74|              1|         1.12|        7.0|  1.0|    0.5|      1.76|         0.0|     NULL|                  0.3|       10.56|           1|        1|                 0.0|
|    NULL| 2020-01-04 20:00:00|  2020-01-04 20:17:00|              NULL|      NULL|         213|          60|           NULL|         3.44|      10.79|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|       11.09|        NULL|     NULL|                NULL|
|    NULL| 2020-01-24 17:11:00|  2020-01-24 17:33:00|              NULL|      NULL|         168|         167|           NULL|         3.18|      19.04| 2.75|    0.5|       0.0|         0.0|     NULL|                  0.0|       22.29|        NULL|     NULL|                NULL|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 3 rows

In [14]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [15]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [17]:
df_yellow = df_yellow\
                 .withColumnRenamed("tpep_pickup_datetime", "pickup_datetime")\
                 .withColumnRenamed("tpep_dropoff_datetime", "dropoff_datetime")

In [21]:
df_green = df_green \
                 .withColumnRenamed("lpep_pickup_datetime", "pickup_datetime")\
                 .withColumnRenamed("lpep_dropoff_datetime", "dropoff_datetime")

In [22]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [23]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [27]:
import pyspark.sql.functions as F

In [28]:
df_yellow = df_yellow.withColumn('service_type', F.lit('yellow'))

In [29]:
df_green = df_green.withColumn('service_type', F.lit('green'))

In [32]:
# select common columns and preserve the order

common_cols = []
for col in df_green.columns:
    if col in df_yellow.columns:
        common_cols.append(col)

In [33]:
common_cols

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [36]:
df_yellow_com = df_yellow.select(common_cols)
df_green_com = df_green.select(common_cols)

In [37]:
df_trips_data = df_yellow_com.unionAll(df_green_com)

In [39]:
df_trips_data.show(2)

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2020-01-15 07:59:48|2020-01-15 08:16:04|                 N|         1|         262|          88|              2|         6.87|       22.0|  0.0|    0.5|      5.06|         0.0|                  0.3|       30.36|           1|                 2.5|      yellow|
|       2|2020-01-11 22:13:14|2020-01-11 22:22:40|                 N|         1|         125|          13|              1|         1.64|        8.5|  0.5|    0.5|      2.46|         0.0|                  0.3|       14.76|           1|                 2.5|      yellow|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
only showing top 2 rows

In [40]:
df_trips_data.createOrReplaceTempView('trips_data')

In [42]:
spark.sql("SELECT service_type, count(*) AS count FROM trips_data GROUP BY service_type").show()

+------------+--------+
|service_type|   count|
+------------+--------+
|      yellow|39649199|
|       green| 2304517|
+------------+--------+

In [44]:
# calculate revenue per month per service
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [45]:
# save the result as parquet but in a SINGLE FILE
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')